<div class="container" style="padding-left: 15%; padding-right: 15%;">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-title" style="text-align: center;">User Management</h1>
      <form [formGroup]="userForm" (ngSubmit)="submitForm()">
        <label>
          User Name <span class="requiredField">*</span>
        </label>        
        <input type="text" class="form-control" name="name" formControlName="name" [ngClass]="{'has-error': (userForm.get('name').errors) && (userForm.get('name').touched || userForm.get('name').dirty)}">
        <br>
        <div *ngIf="(userForm.get('name').errors) && (userForm.get('name').touched || userForm.get('name').dirty)" class="alert alert-danger">
          <span *ngIf="userForm.get('name').errors.required">
            User name is required.
          </span>
          <span *ngIf="userForm.get('name').errors.minlength">
              User Name must be greater than 2 characters
          </span>
        </div>

        <label>
          Date Of Birth <span class="requiredField">*</span>
        </label>
        <input type="text" placeholder="DD/MM/YYYY" formControlName="dateOfBirth" name="dateOfBirth" class="form-control" [ngClass]="{'has-error': (userForm.get('dateOfBirth').errors) && (userForm.get('dateOfBirth').touched || userForm.get('dateOfBirth').dirty)}">
        <br>
        <div *ngIf="(userForm.get('dateOfBirth').errors) && (userForm.get('dateOfBirth').touched || userForm.get('dateOfBirth').dirty)" class="alert alert-danger">
          <span *ngIf="userForm.get('dateOfBirth').errors.required">
            Date Of Birth is required.
          </span>
        </div>

        <label>
          Address <span class="requiredField">*</span>
        </label>
        <input formControlName="address" class="form-control" [ngClass]="{'has-error': (userForm.get('address').errors) && (userForm.get('address').touched || userForm.get('address').dirty)}">
        <br>
        <div *ngIf="(userForm.get('address').errors) && (userForm.get('address').touched || userForm.get('address').dirty)" class="alert alert-danger">
          <span *ngIf="userForm.get('address').errors.required">
            Address is required.
          </span>
          <span *ngIf="userForm.get('address').errors.minlength">
            Address must be greater than 5 characters
          </span>
        </div>

        <label>
          Gender <span class="requiredField">*</span>
        </label>
        <input placeholder="M or F" formControlName="gender" class="form-control" [ngClass]="{'has-error': (userForm.get('gender').errors) && (userForm.get('gender').touched || userForm.get('gender').dirty)}">
        <br>
        <div *ngIf="(userForm.get('gender').errors) && (userForm.get('gender').touched || userForm.get('gender').dirty)" class="alert alert-danger">
          <span *ngIf="userForm.get('gender').errors.required">
            Gender is required.
          </span>
          <span *ngIf="userForm.get('gender').errors.minlength">
            Gender must be 1 character
          </span>
        </div>

        <label>
          Contact Number <span class="requiredField">*</span>
        </label>
        <input formControlName="contactNumber" name="contactNumber" class="form-control" [ngClass]="{'has-error': (userForm.get('contactNumber').errors) && (userForm.get('contactNumber').touched || userForm.get('contactNumber').dirty)}">
        <br>
        <div *ngIf="(userForm.get('contactNumber').errors) && (userForm.get('contactNumber').touched || userForm.get('contactNumber').dirty)" class="alert alert-danger">
          <span *ngIf="userForm.get('contactNumber').errors.required">
            Contact Number is required.
          </span>
          <span *ngIf="userForm.get('contactNumber').errors.minlength">
            Contact Number must be 8 characters
          </span>
        </div>

        <label>
          How Did You Find Us <span class="requiredField">*</span>
        </label>
        <select formControlName="howDidYouFindUs" name="howDidYouFindUs" class="form-control" [ngClass]="{'has-error': (userForm.get('howDidYouFindUs').errors) && (userForm.get('howDidYouFindUs').touched || userForm.get('howDidYouFindUs').dirty)}">
            <option [ngValue]="" disabled>Select Options</option>
            <option *ngFor="let media of mediaDDL" [ngValue]="media" >{{media}}</option>
        </select>
        <div *ngIf="(userForm.get('howDidYouFindUs').errors) && (userForm.get('howDidYouFindUs').touched || userForm.get('howDidYouFindUs').dirty)" class="alert alert-danger">
            <span *ngIf="userForm.get('howDidYouFindUs').errors.required">
              This field is required.
            </span>
        </div>
        <br>

        <button class="btn btn-danger btn-block">Submit</button>
      </form>
    </div>
  </div>
</div>

<br>
<br>

<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.userName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.address}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.gender}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dateOfBirth">
      <mat-header-cell *matHeaderCellDef> Date Of Birth </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.dateOfBirth}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="contactNumber">
      <mat-header-cell *matHeaderCellDef> Contact Number </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.contactNumber}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="howDidYouFindUsDropDownList">
      <mat-header-cell *matHeaderCellDef> How Did You Find Us </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.howDidYouFindUsDropDownList}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
      <mat-cell *matCellDef="let user"> <button>Edit</button> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let user"> <button>Delete</button> </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>